<footer class="w-[100%] h-[5vh] flex items-center justify-end bg-black opacity-80">
    <div class="w-[400px] flex justify-around text-white">
        <p>Politica de privacidad</p>
        <p>Terminos y condiciones</p>
    </div>
</footer>
</section>    
</body>
</html>