<% try { %>
    <% if (rol == 'client') { %>
        <nav class="w-[100%] h-[5vh] bg-black opacity-80 flex justify-between items-center">
            <a href="/"><i class="fa-solid fa-mountain text-white text-[20px] ml-5"></i></a>
            <div class="w-[500px] flex justify-around text-[20px] text-white font-bold">
                <select name="select" id="" onchange="location = this.value" class="w-[200px] text-black">
                    <option value="/all">Todos</option>
                    <option value="/add">Añadir</option>
                </select>
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            </div>
        </nav>
    <% }else if(rol == 'admin') {%>
        <nav class="w-[100%] h-[5vh] bg-black opacity-80 flex justify-between items-center">
            <a href="/"><i class="fa-solid fa-mountain text-white text-[20px] ml-5"></i></a>
            <div class="w-[400px] flex justify-around text-[20px] text-white">
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            </div>
        </nav>
    <% } %> 
<% }catch(e){ %>
    <nav class="w-[100%] h-[5vh] bg-black opacity-80 flex justify-between items-center">
        <a href="/"><i class="fa-solid fa-mountain text-white text-[20px] ml-5"></i></a>
        <div class="w-[400px] flex justify-around text-[20px] text-white">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>
    </nav>
<% } %>