<%- include('partials/header',) %>
<section class="w-[100%] h-[100vh] bg-cover" style="background-image: url('public/img/inicio.jpeg');">
    <%- include('partials/nav') %>
    <div class="w-[100%] h-[90vh] flex flex-col justify-center items-center">
        <h1 class="text-[50px] text-white font-bold">UPS... parece que hubo un error, vuelva al inicio</h1>
        <a href="/" class="bg-blue-700 p-3 text-white font-bold rounded">Volver</a>
    </div>
<%- include('partials/footer') %>